<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ChanDoThis</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container-fluid">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="https://github.com/iacobson/chan_do_this"><b>Github Code</b></a></li>
          </ul>
        </nav>
        <span class="pull-left">
          <h1><b> <span style="color:coral">Chan</span> Do This </b></h1>
          <p>a <i>"controlerless"</i> test application using Phoenix <span style="color:coral">Channels</span> for live updates</p>
        </span>
        <span class="pull-left" style="color:coral">powered by:</span>
        <a href="http://www.phoenixframework.org/docs" target="blank">
          <span class="logo"></span>
        </a>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <%#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>%>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
