<div class="form-horizontal">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="what do you want to do?" data-todo="new-todo-name">
  </div>
  <div class="form-group">
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-success btn-xs" data-behaviour="create-todo">
          CREATE
        </button>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-danger btn-xs" data-behaviour="cancel-create-todo">
          CANCEL
        </button>
      </div>
    </div>
  </div>
</div>
