<div class="form-horizontal">
  <div class="form-group">
    <input type="text" class="form-control" value="{{name}}" data-list="edit-list-name" data-list-name="{{name}}">
  </div>
  <div class="form-group">
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-success btn-xs" data-behaviour="update-list">
          UPDATE
        </button>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-danger btn-xs" data-behaviour="cancel-update-list">
          CANCEL
        </button>
      </div>
    </div>
  </div>
</div>
