<li class = "list-group-item">
  <button type="button" class="btn btn-warning btn-xs" data-behaviour="edit-list">
    EDIT
  </button>
  <button type="button" class="btn btn-danger btn-xs" data-behaviour="delete-list">
    DELETE
  </button>
  <span data-list="name" data-list-name="{{name}}">
    <b>  {{name}}  </b>
  </span>
  <button type="button" class="btn btn-info btn-xs pull-right" data-behaviour="open-todos">
    OPEN
  </button>
</li>


